* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

body > * {
  width: 80%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  font-size: 2.5rem;
}

.logo span {
  color: rgb(247, 48, 48);
}

.navigation {
  display: flex;
}

.navigation-section {
  padding: 25px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  border: 0;
  background-color: hsla(0, 0%, 0%, 0);
}

.navigation-section:hover {
  background-color: rgb(247, 48, 48);
}

#content {
  flex-grow: 1;
}

.home-content {
  position: absolute;
  top: 40%;
  width: 50%;
  font-size: 2rem;
  font-weight: lighter;
}

.make-orderBtn {
  cursor: pointer;
  margin-top: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(247, 48, 48);
  border: 0;
  padding: 30px;
  border-radius: 10px;
}

.make-orderBtn:hover {
  transform: scale(1.1);
}

.main-dishes,
.desserts,
.beverages {
  list-style-type: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.menu-title {
  font-size: 5rem;
  text-align: center;
  color: rgb(247, 48, 48);
}

.menu-subtitle {
  margin-top: 20px;
  margin-bottom: 30px;
}

.product-section {
  width: 500px;
  height: 500px;
}

.product-section > * {
  margin-bottom: 10px;
}

.product-img {
  height: 300px;
  width: 300px;
  border: 2px solid white;
  border-radius: 10px;
}
